<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattle_fail00.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,438},{132,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,436},{132,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,844},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,712},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,710},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,576},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail06.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,574},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,810},{132,134}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail08.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,452},{132,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_fail09.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,438},{132,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,773},{132,138}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,150},{132,144}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{132,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{132,146}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{132,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{132,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{132,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,156},{132,148}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{132,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,306},{132,144}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{132,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc06.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,294},{132,142}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{132,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,627},{132,144}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{132,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc08.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{132,146}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{132,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,627},{132,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{132,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{132,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{132,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{132,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{132,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,777},{132,144}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{132,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc13.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,150},{132,142}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{132,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cattle_suc14.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,296},{132,138}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>chengon.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,590},{179,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{179,91}}</string>
                <key>sourceSize</key>
                <string>{183,93}</string>
            </dict>
            <key>cuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,590},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,623}}</string>
                <key>sourceSize</key>
                <string>{456,623}</string>
            </dict>
            <key>dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,627},{181,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,93}}</string>
                <key>sourceSize</key>
                <string>{183,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>end.png</string>
            <key>size</key>
            <string>{862,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe15da94049bcb2660140efb9a29f52:1/1$</string>
            <key>textureFileName</key>
            <string>end.png</string>
        </dict>
    </dict>
</plist>
