<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_one00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{76,146}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{78,146}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{78,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,298},{76,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,150},{76,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,150},{72,146}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{72,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,150},{74,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,298},{76,146}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{76,146}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_one09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,146}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{78,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three00.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,418},{46,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,320},{48,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,238},{50,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,36},{50,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,320},{48,82}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,418},{46,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three05.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,370},{46,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three06.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,236},{48,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,238},{50,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,36},{50,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three08.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,408},{48,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{48,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_three09.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,418},{46,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{46,82}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,408},{94,114}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{94,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,416},{90,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{90,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,290},{86,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{86,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{82,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{82,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{86,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,120},{82,114}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{82,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,120},{88,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{88,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,298},{92,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{92,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_two09.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{94,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{94,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero00.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,118},{44,114}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{44,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{48,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{48,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,446},{52,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{52,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,290},{48,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{48,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{44,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{44,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{44,114}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{44,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,238},{48,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{48,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{52,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{52,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,290},{48,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{48,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>fish_zero09.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,120},{44,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{44,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{662,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f35bc188be11e1081b9ff4d9ce76da:1/1$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
