<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattle_angry00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,295},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,196},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,198},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,303},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,293},{92,93}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{92,93}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,99},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry07.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,101},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,206},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_angry09.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,295},{92,95}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{92,95}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,311},{92,97}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{92,97}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,317},{92,101}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{92,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{92,103}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{92,103}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,105}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{92,105}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,103}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{92,103}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,101}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{92,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,105},{92,99}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{92,99}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,107},{92,101}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{92,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,109},{92,103}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{92,103}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{92,105}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{92,105}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,105}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{92,105}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{92,103}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{92,103}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,214},{92,101}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{92,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{92,99}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{92,99}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_happy14.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,97}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{92,97}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init00.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,392},{66,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{66,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init01.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,400},{66,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{66,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,414},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init03.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,392},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,410},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init05.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,420},{68,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{68,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init07.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,311},{68,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init08.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,208},{68,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init09.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,420},{68,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init10.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,105},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init11.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,392},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{68,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{68,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init13.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,400},{66,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{66,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>cattle_init14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,392},{66,101}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{66,101}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_cattle.png</string>
            <key>size</key>
            <string>{636,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91917a673203e59cd4a9ac971b50e15c:1/1$</string>
            <key>textureFileName</key>
            <string>game_cattle.png</string>
        </dict>
    </dict>
</plist>
