<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,338},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,412},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>bogy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{110,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,172}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{110,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,170}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{110,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,172}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{110,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,170}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{110,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,172}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,226},{110,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,170}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,114},{110,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,172}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,338},{110,168}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{110,168}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{110,168}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,36},{110,168}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,204}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{110,204}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{110,202}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{110,202}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{110,202}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{110,202}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{110,198}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{110,198}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,314},{110,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,172}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bogy14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,114},{110,170}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{110,170}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{11,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,31}}</string>
                <key>sourceSize</key>
                <string>{11,31}</string>
            </dict>
            <key>cattle_fish_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,338},{157,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,44}}</string>
                <key>sourceSize</key>
                <string>{157,44}</string>
            </dict>
            <key>cattle_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hand00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,288},{48,59}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{48,59}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>hand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,413},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_packer.png</string>
            <key>size</key>
            <string>{526,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc2be62f064958706ec6255698c4f221:1/1$</string>
            <key>textureFileName</key>
            <string>land_packer.png</string>
        </dict>
    </dict>
</plist>
