<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{1,1}}</string>
                <key>offset</key>
                <string>{-104.5,104.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,212},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{76,76}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{102,100}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,180},{130,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{130,130}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,180},{152,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{152,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net05.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{176,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>net06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>net.png</string>
            <key>size</key>
            <string>{498,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1edc8afc923b3e5745129768ac536fe9:1/1$</string>
            <key>textureFileName</key>
            <string>net.png</string>
        </dict>
    </dict>
</plist>
